Spacy~=3.8.2
BeautifulSoup4~=4.12.3
newspaper3k
lxml~=5.3.0
readabilipy~=0.2.0
lxml_html_clean

requests~=2.32.3
matplotlib~=3.9.2
scikit-learn~=1.5.2
nltk~=3.9.1
numpy~=2.0.2
pandas~=2.2.3
goose3~=3.1.19
sentence_transformers~=3.2.1